@tailwind base;
@tailwind components;
@tailwind utilities;

html, .App {
  height: 100%;
  margin: 0;
}

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100%;
}
#root {
  height: 100%;
  margin: unset;
}

.container {
  background-color: lightblue;
  padding: 20px;
}
